<a href="https://colab.research.google.com/github/Tejasvini2001/CELEBAL/blob/main/Week1_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q.1] The included code stub will read an integer, , from STDIN.

Without using any string methods, try to print the following:
123...n.


Note that "..." represents the consecutive values in between.

In [ ]:
from __future__ import print_function

if __name__ == '__main__':
    n = int(raw_input())

for i in range(n):
    print(i+1,end="")

Q.2] The provided code stub reads and integer, n, from STDIN. For all non-negative integers i<n , print i^2

In [ ]:
if __name__ == '__main__':
    n = int(raw_input())
    for i in range(n):
        print(i*i)

Q.3]The provided code stub reads two integers,  and , from STDIN.

Add logic to print two lines. The first line should contain the result of integer division, a//b . The second line should contain the result of float division, a/b .

In [ ]:
from __future__ import division

if __name__ == '__main__':
    a = int(raw_input())
    b = int(raw_input())

    c = a//b
    d = a/b
    print("%d\n%f"%(c,d))

Q.4] The provided code stub reads two integers from STDIN, a and b . Add code to print three lines where:

1.The first line contains the sum of the two numbers.
2.The second line contains the difference of the two numbers (first - second).
3.The third line contains the product of the two numbers.

In [ ]:
if _name_ == '_main_':
    a = int(raw_input())
    b = int(raw_input())
    c=a+b
    d=a-b
    e=a*b
    print("%d\n%d\n%d\n"%(c,d,e))

Q.5]Given an integer,n , perform the following conditional actions:

If n is odd, print Weird
If n is even and in the inclusive range of 2 to5 , print Not Weird
If n is even and in the inclusive range of 6 to 20 , print Weird
If n is even and greater than , print Not Weird

In [ ]:
import math
import os
import random
import re
import sys



if __name__ == '__main__':
    n = int(raw_input().strip())
if n%2!=0:
    print("Weird")
else:
    if n>=2 and n<=5:
        print("Not Weird")
    elif n>=6 and n<=20:
        print("Weird")
    elif n>20:
        print("Not Weird")

Q.6]Let's learn about list comprehensions! You are given three integers x,y  and z representing the dimensions of a cuboid along with an integer n . Print a list of all possible coordinates given by (i,j,k) on a 3D grid where the sum of i
+j+k is not equal to n.

In [ ]:
if __name__ == '__main__':
    x = int(raw_input())
    y = int(raw_input())
    z = int(raw_input())
    n = int(raw_input())
    ans =[[i,j,k] for i in range(x+1) for j in range(y+1) for k in range(z+1) if i+j+k!=n]
    print ans

Q.7]Given the participants' score sheet for your University Sports Day, you are required to find the runner-up score. You are given  scores. Store them in a list and find the score of the runner-up.

In [ ]:
if __name__ == '__main__':
    n = int(raw_input())
    arr = map(int, raw_input().split())
    print(sorted(list(set(arr)))[-2])

Q.8]Given the names and grades for each student in a class of N students, store them in a nested list and print the name(s) of any student(s) having the second lowest grade

In [ ]:
score_list= [];
for _ in range(int(raw_input())):
    name = raw_input()
    score = float(raw_input())
    score_list.append([name,score])
second_highest = sorted(set([score for name, score in score_list]))[1]
print('\n'.join(sorted([name for name,score in score_list if score == second_highest])))

Q.9]An extra day is added to the calendar almost every four years as February 29, and the day is called a leap day. It corrects the calendar for the fact that our planet takes approximately 365.25 days to orbit the sun. A leap year contains a leap day.

In the Gregorian calendar, three conditions are used to identify leap years:

The year can be evenly divided by 4, is a leap year, unless:
The year can be evenly divided by 100, it is NOT a leap year, unless:
The year is also evenly divisible by 400. Then it is a leap year.
This means that in the Gregorian calendar, the years 2000 and 2400 are leap years, while 1800, 1900, 2100, 2200, 2300 and 2500 are NOT leap years. Source

In [ ]:
def is_leap(year):
    leap = False
    
    # Write your logic here
    if year % 400== 0:
        leap =True
    elif year % 100 == 0:
        leap = False
    elif year % 4 ==0:
        leap = True
    
    return leap

year = int(raw_input())

Q.10]Given an integer,n ,n and  space-separated integers as input, create a tuple,t , n of those  integers. Then compute and print the result of hast(t).

In [ ]:
if __name__ == '__main__':
    n = int(raw_input())
integer_list = map(int, raw_input().split())
t=tuple(integer_list)
print(hash(t))

Q.11]Consider a list (list = []). You can perform the following commands:

insert i e: Insert integer  at position .
print: Print the list.
remove e: Delete the first occurrence of integer .
append e: Insert integer  at the end of the list.
sort: Sort the list.
pop: Pop the last element from the list.
reverse: Reverse the list.

In [ ]:
list = []
n = int(raw_input())
for i in range(n):
    a = raw_input().split()
    if len(a) == 3:
        eval("list." + a[0] + "(" + a[1] + "," + a[2] + ")")
    elif len(a) == 2:
        eval("list." + a[0] + "(" + a[1] + ")")
    elif a[0] == "print":
        print list
    else:
        eval("list." + a[0] + "()")

Q.12]You are given a string and your task is to swap cases. In other words, convert all lowercase letters to uppercase letters and vice versa.

In [ ]:
def swap_case(s):

    # sWAP cASE in Python - HackerRank Solution START
    Output = '';
    for char in s:
        if(char.isupper()==True):
            Output += (char.lower());
        elif(char.islower()==True):
            Output += (char.upper());
        else:
            Output += char;
    return Output;
    # sWAP cASE in Python - HackerRank Solution END
if __name__ == '__main__':
    s = raw_input()
    result = swap_case(s)
    print result


Q.13]In Python, a string can be split on a delimiter.

In [ ]:
def split_and_join(line):
    a = line.split(" ")
    a = "-".join(a)
    return a
if __name__ == '__main__':
    line = raw_input()
    result = split_and_join(line)
    print result

Q.14]You are given the firstname and lastname of a person on two different lines. Your task is to read them and print the following:

Hello firstname lastname! You just delved into python.

Function Description

Complete the print_full_name function in the editor below.

print_full_name has the following parameters:

string first: the first name
string last: the last name

In [ ]:
def print_full_name(a, b):
    print("Hello %s %s! You just delved into python."%(a,b))


if __name__ == '__main__':
    first_name = raw_input()
    last_name = raw_input()
    print_full_name(first_name, last_name)

Q.15]The provided code stub will read in a dictionary containing key/value pairs of name:[marks] for a list of students. Print the average of the marks array for the student name provided, showing 2 places after the decimal.

In [ ]:
if __name__ == '__main__':
    n = int(raw_input())
    student_marks = {}
    for _ in range(n):
        line = raw_input().split()
        name, scores = line[0], line[1:]
        scores = map(float, scores)
        student_marks[name] = scores
    query_name = raw_input()
    marks=0
    for i in student_marks[query_name]:
        marks=marks+i
    avg=marks/3
    print("%.2f"%avg)