<a href="https://colab.research.google.com/github/Tejasvini2001/CELEBAL/blob/main/week3_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

List:-
 creating a list

In [1]:
#int
l1=[4,5,6,7]
#string
l2=["puja","sonal","priya","priti"]
print(l1)
print(l2)

[4, 5, 6, 7]
['puja', 'sonal', 'priya', 'priti']

Duplicate value in string:-

In [2]:
l1=[2,3,4,5,5,4,7,8]
print("Duplicate value:",l1)

Duplicate value: [2, 3, 4, 5, 5, 4, 7, 8]

List Slicing:-

In [3]:
l1=[1,2,3,4,5,6,7,8,9,10]
print("current list:",l1)
#access value of index 1
print("index 1 value:",l1[1])
#access value betwwen 1 to 6
print("index between 1 to 6:",l1[1:6])
#access last value from list
print("last value:",l1[-1])

current list: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
index 1 value: 2
index between 1 to 6: [2, 3, 4, 5, 6]
last value: 10

change list item:-

In [5]:
X=["apple","banana","cherry","mango","orange"]
print("current list:",X)
#change item in list
X[1:3]=["kiwi","guava"]
print("updated list:",X)

current list: ['apple', 'banana', 'cherry', 'mango', 'orange']
updated list: ['apple', 'kiwi', 'guava', 'mango', 'orange']

Tuple:-
creating tuple

In [ ]:
t1=("apple","orange",1,2,3,4)
print("current list:",t1)

How to check lenth of tuple

In [ ]:
t2=(1,2,3,4,5,6,7,8)
print(len(t2))

Slicing

In [ ]:
#access value using index
t1=("apple","orange",1,2,3,4,5,6,10.5,5,12.4)
print("current tuple:",t1)
print("index 1 value:"t1[1])
#access value between 1 to 6
print("index between 1 to 6:",t1[1:6])
#access last value from list
print("last value:",t1[-1])
#access value till index 6
print("index till 6:",t1[:6])

convert tuple into list

In [ ]:
t1=("apple","orange",1,2,3,4,5,6,10.5,5,12.4)
print("current tuple:",t1) #before change
x=list(t1)
print("after convert:",x) #after change

loop with tuple

In [7]:
X=("apple","banana","cherry","mango","orange")
for i in X:
  print(i)

apple
banana
cherry
mango
orange

Dictionary:-
creating a dictionary

In [ ]:
X=["apple","banana","cherry","mango","orange"]

In [ ]:
Access value of dictionary

In [ ]:
X=["apple","banana","cherry","mango","orange"]
print("current dictionary:",X)

Access value using key

In [ ]:
Access value using Key
x.d1=item()
print(x)

Set:-
creating a set

In [ ]:
s1={"ppp","ttt","sss","kkk"}
print(s1)

Duplicate values will be ignore

In [ ]:
s1={"ppp","ttt","sss","ppp"}
print(s1)

get the number of items in a set

In [ ]:
s1={"ppp","ttt","sss","kkk"}
print(len(s1))

Membership Opartor:-in operator

In [ ]:
list1=[1,2,3,4,5] 
list2=[6,7,8,9] 
for item in list1: 
    if item in list2: 
        print("overlapping")     
else: 
    print("not overlapping")

Not in operator

In [ ]:
x = 24
y = 20
list = [10, 20, 30, 40, 50 ]; 
 
if ( x not in list ): 
 print ("x is NOT present in given list")
else: 
print ("x is present in given list")
 
if ( y in list ): 
 print ("y is present in given list")
else: 
 print ("y is NOT present in given list")

Built in function

In [ ]:
#print()
print("Hello Python")

In [ ]:
#type()
a = ('apple', 'banana', 'cherry')
b = "Hello World"
c = 33

x = type(a)
y = type(b)
z = type(c)
print("output 1",x)
print("output 2",y)
print("output 3",z)

In [ ]:
#input()
x = input('Enter your name:')
print('Hello, ' + x)

In [ ]:
#abs()
x = abs(-7.25)
print("output",x)

In [ ]:
#any
s1 = [False, True, False]
x = any(s1)
print("output",x)

In [ ]:
#all
s1 = [True, True, True]
x = all(s1)
print("output",x)